{% extends 'Dashboard_desa.html'%}
{% block content %}
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h2 class="h4 fw-bold mb-1">Data</h2>
                </div>
            </div>
            <div class="g-3 mb-4">
                <div class="col-md-4">
                    <div class="card-modern card p-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="text-muted small">Dusun</span>
                                <h3 class="fw-bold mb-0">{{jd}}</h3>
                            </div>
                            <i class="bi bi-people fs-1 text-primary opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="h4 fw-bold mb-0">Kepala Dusun</h2>
                <div class="d-flex align-items-center gap-4">
                    <span class="fw-semibold">tambah kepala dusun :</span>
                    <a href="{{url_for('tambah_dusun')}}" class="text-decoration-none text-muted small d-flex align-items-center gap-1 "
                        style="font-weight: bol;">
                        <button class="btn text-white d-flex align-items-center gap-2"
                        style="background-color: var(--primary-color); border-radius: 8px; padding: 5px 15px;">
                        <i class="bi bi-plus-lg"></i> Tambah
                    </button>
                </a>
                    <div class="d-flex align-items-center position-relative">
                        <i class="bi bi-search position-absolute" style="left: 10px; color: #6c757d;"></i>
                        <input type="text" class="form-control ps-5" onkeyup="fungsicari()" id="cari" placeholder="Cari nama..."
                            style="width: 200px; border-radius: 8px; height: 38px;">
                    </div>

                </div>
            </div>
            <div class="card-modern card mb-3">
                <div class="card-body table-responsive">
                    <table class="table table_striped" id="tabeldusun">
                        <thead>
                            <tr>
                                <th >No</th>
                                <th >Nama</th>
                                <th >Dusun</th>
                                <th >Username</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dusun %}
                            <tr>
                                <th>{{loop.index}}</th>
                                <td>{{d.kepala_dusun}}</td>
                                <td>{{d.nama}}</td>
                                <td>{{d.username}}</td>
                                <td><a type="button" class="btn btn-warning" href="{{url_for('edit_dusun', id_dusun=d.id)}}">edit</a>
                                <a type="button" href="{{url_for('hapus_dusun', id_dusun=d.id)}}" class="btn btn-danger">hapus</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}
{% block js %}
<script>
function fungsicari() {
    let input = document.getElementById("cari");
    let filter = input.value.toUpperCase();
    let table = document.getElementById("tabeldusun");
    let tr = table.getElementsByTagName("tr");

    for (let i = 1; i < tr.length; i++) {

        let td = tr[i].getElementsByTagName("td")[0];

        if (td) {
            let txtValue = td.textContent || td.innerText;

            if (txtValue.toUpperCase().includes(filter)) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script> 
{% endblock %}