{% extends 'Dashboard_desa.html'%}
{% block content %}

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h2 class="h4 fw-bold mb-1"></h2>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="h4 fw-bold mb-0">Penduduk</h2>
                <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center position-relative">
                        <i class="bi bi-search position-absolute" style="left: 10px; color: #6c757d;"></i>
                        <input type="text" class="form-control ps-5" placeholder="Cari nama..."
                            style="width: 200px; border-radius: 8px; height: 38px;">
                    </div>

                </div>
            </div>
            <div class="card-modern card mb-4">
                <div class="card-header bg-transparent border-0 pt-3 pb-0">
                    <h6 class="fw-semibold mb-0">Aktivitas Terbaru</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">NO</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Nik</th>
                                <th scope="col">Jenis Kelamin</th>
                                <th scope="col">Aksi </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for penduduk in penduduk %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ penduduk.nama }}</td>
                                <td>{{ penduduk.nik }}</td>
                                <td>{% if penduduk.jk == 'Perempuan' %}
                                    <i class="bi bi-gender-female" style="color: pink;"> </i>perempuan
                                    {% elif penduduk.jk == 'Laki-laki' %}
                                    <i class="bi bi-gender-male" style="color: blue;"> </i>laki-laki
                                    {% else %}
                                    tidak diketahui
                                    {% endif %}
                                </td>
                                <td>
                                <a type="btn" class="btn btn-detail" href="{{ url_for('data_diri', id_penduduk=penduduk.id_penduduk) }}">detail</a>
                                </td>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}