{% extends 'Dashboard_dusun.html'%}
{% block content %}
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h2 class="h4 fw-semibold mb-1" style="font-size: xx-large; font-weight:bold; color:var(--primary-color)">Beranda</h2>
                </div>
                <br>

                <span class="text-muted small">
                    <i class="bi bi-calendar3"></i>
                    <script>document.write(new Date().toLocaleDateString('id-ID'));</script>
                </span>
            </div>

            <div class="row g-3 mb-4">
                <div class="col-md-4">
                    <div class="card-modern card p-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="text-muted small">Penduduk</span>
                                <h3 class="fw-bold mb-0">{{ ttl_pendudukk }}</h3>
                            </div>
                            <i class="bi bi-people fs-1 text-primary opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}