{% extends 'Dashboard_dusun.html' %}
{% block content %}

            <!---anggota kk-->
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="h4 fw-bold mb-0" style="color: var(--primary-color);">Nik</h2>
            </div>
            <div class="card-modern card mb-4 d-flex justify-content-center ">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center" style="margin-top: 30px;">
                        <div class="h5 fw-semibold mb-0">Nama</div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                    <table class="table">
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th style="width: 30%;">Nama</th>
                            <td>Mark</td>
                        </tr>
                    </table>
                </div>
                    </div>
                </div>
            </div>
{% endblock %}