{% extends 'Dashboard_dusun.html'%}
{% block content %}

            <div class="d-flex align-items-center justify-content-between mb-4" style="margin-top: 10px;">
                <h2 class="h4 fw-bold mb-0">Penduduk</h2>
                <div class="d-flex align-items-center gap-4">

                </div>
            </div>
            <div class="card-modern card mb-4">
                <div class="card-body table-responsive">
                    <table class="table table-stripped justify-content-center align-item-center mb-0">
                        <thead>
                            <tr>
                                <th scope="col">NO</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Nik</th>
                                <th scope="col">Jenis Kelamin</th>
                                <th scope="col">Aksi </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for penduduk in penduduk %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ penduduk.nama }}</td>
                                <td>{{ penduduk.nik }}</td>
                                <td>{% if penduduk.jk == 'Perempuan' %}
                                    <i class="bi bi-gender-female" style="color: pink;"> </i>perempuan
                                    {% elif penduduk.jk == 'Laki-laki' %}
                                    <i class="bi bi-gender-male" style="color: blue;"> </i>laki-laki
                                    {% else %}
                                    tidak diketahui
                                    {% endif %}
                                </td>
                                <td><a type="btn" class="btn btn-danger" href="{{ url_for('delete', id_penduduk=penduduk.id_penduduk) }}">hapus</a>
                                <a type="btn" class="btn btn-detail" href="{{ url_for('data_diri_dusun', id_penduduk=penduduk.id_penduduk) }}">detail</a>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}