{% extends 'Dashboard_dusun.html' %}
{% block content %}
            <!-- form penduduk -->
        <div class="d-flex align-items-center justify-content-between mb-4" style="margin-top: 20px;">
        <h2 class="h4 fw-bold mb-0" style="color: var(--primary-color);">Tambah KK <i class="bi bi-plus-lg"></i></h2>
        <div class="d-flex align-items-center gap-4">
        <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-kirim" style="font-size: medium;" onclick="tambahForm()">Tambah Form</button>
        <button type="button" class="btn btn-kirim ">Kirim</button>
        </div>
        </div>
    </div>
    <div class="justify-content-start">
        <div class="card-modern card mb-4"style="padding: 40px; width:100%;" id="form">
        <form style="color: var(--primary-color); font-size:large; font-weight:bold" class="form-item">
        <div class="card-body" style="width:100%" >
        <div class="row">
        <div class="mb-3 col">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" id="nama" placeholder="Masukkan nama" >
        </div>
        <div class="mb-3 col">
        <label for="Nik" class="form-label">Nik</label>
        <input type="text" class="form-control" id="Nik" placeholder="Masukkan jumlah orang" >
        </div>
        </div>
        <div class="mb-3">
        <label for="Jenis kelamin" class="form-label">Jenis kelamin</label>
            <select class="form-select" aria-label="Default select example" id="Jenis kelamin">
            <option selected>pilih dusun</option>
            <option value="1">Laki laki</option>
            <option value="2">Perempuan</option>
            </select>
        </div>
        <div class="row">
            <div class="mb-3 col">
                <label for="tempat_lahir" class="form-label">Tempat lahir</label>
                <input type="text" class="form-control" id="tempat_lahir" placeholder="Masukkan tempat lahir" >
            </div>
            <div class="mb-3 col">
                <label for="tanggal" class="form-label">Tanggal lahir</label>
                <input type="date" class="form-control" id="tanggal" placeholder="Masukkan tanggal lahir" >
            </div>
        </div>
        <div class="mb-3">
            <div class="mb-3">
            <label for="status" class="form-label">Status</label>
                <select class="form-select" aria-label="Default select example" id="status">
                <option selected>status</option>
                <option value="1">Menikah</option>
                <option value="2">Tidak menikah</option>
                </select>
            </div>
        <div class="mb-3">
        <label for="KK" class="form-label">KK</label>
            <select class="form-select" aria-label="Default select example" id="KK">
            <option selected>pilih KK</option>
            <option value="1">Laki laki</option>
            <option value="2">Perempuan</option>
            </select>
        </div>
        </div>
        <button type ="button" onclick="hapusForm(this)" class="btn btn-danger mb-3">Hapus Form</button>
        </div>
    </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        {% endblock %}
        {% block js %}
        <script>
        function tambahForm() {
            let container = document.getElementById('form');
            let template = document.querySelector('.form-item');
            let formBaru = template.cloneNode(true);
            
            // Kosongkan input
            formBaru.querySelectorAll('input').forEach(input => input.value = '');
            
            container.appendChild(formBaru);
        }

        function hapusForm(btn) {
            btn.parentElement.remove();
        }
        </script>
        {% endblock %}